{
    "user": {
        "username": "user",
        "password": "XXXXXXXXXXXXX",
        "CKAN_Token": "XXXXXXXXXXXXX",
        "minio_id": "XXXXXXXXXXXXX",
        "minio_key": "XXXXXXXXXXXXX"
    }
}
